certifi==2025.8.3
cfgv==3.4.0
charset-normalizer==3.4.3
diagrams==0.24.4
distlib==0.4.0
filelock==3.20.0
graphviz==0.20.3
identify==2.6.15
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.3
nodeenv==1.9.1
numpy==2.3.2
pandas==2.3.2
platformdirs==4.5.0
pre_commit==4.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.35.3
